// $声明变量 $width为局部变量,另需注意-和_一样。会被认为是同一个变量
$highLight-color:#f90;
$highLight_color: #123;
nav{
  $width: 100px;
  width: $width;
  color: $highLight-color;
  border: 1px solid $highLight-color;
}
// 嵌套
// 父选择器标识符&
#content{
  article{
    h1{ color: red}
    p{line-height: 40px;}
  }
  aside{width:300px;}
  a{
    color: #fff;
    &:hover{color:#123}   // &就表示a标签啦
  }
}

#c{
  color:red;
  body.ie & {color:green;}
}

// 群组选择器
.container h1,.container h2, .container h3{color:red}
// 简写成：
.container{
  h1,h2,h3{color: red;}
}
@import "2"; 

// 子组合选择器和同层组合选择器：>、+和~;
article {
  ~p{color: red;}   // article后所有的和article同级的p标签
  >a{color:red;}    // article > a{color:red}
  +i{color:green;}  // article同级的紧跟的i标签
  nav + &{font-size: 14px;} // nav+article而不是article nav + article
}

// 嵌套属性
nav{
  border: {
    style: solid ;
    width: 1px;
    color:green;
    left:0;
    bottom:0;
  }
}
nav {
  border:1px solid red {
    left: 0px;bottom:0px;
  }
}
$default-width: 200px;
// 定义一个变量，这个变量有一个默认值，这个默认值的优先级最低
$default-width: 100px !default;
.default {
width: $default-width;    // 200px
}

// 嵌套导入
// 会将3.scss的所有内容放在导入的位置
.blue-theme {@import "3"}


// 混合器
@mixin rounded-corners{ // 使用定义一段基础代码。
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.notice{
  background: #aaa;
  color:#fff;
  @include rounded-corners;   // 使用@include引入mixin代码段
}

// 给混合器传参
@mixin link-color($normal, $hover,$visited){
  color: $normal;
  &:hover{color: $hover;}
  &:visited{ color: $visited;}
}

a{@include link-color($normal:#aaa, $hover:#bbb, $visited:#ccc)}    // 可以加上变量名，这样参数顺序就无所谓了，但是如果有一个加，那么所有的都要加

// 默认参数值
@mixin link-color-1($normal, $hover:$normal,$visited:$normal){
  color: $normal;
  &:hover{color:$hover}
  &:visited{color:$visited}
}

.a1{@include link-color-1(#ddd)}

// 使用选择器继承来精简css
.error{
  border:1px solid red;
  background: #ffd;
}
.error a{color:red;}    // error 内部设置的样式也会被通过@extend继承
.seriousError{
  @extend .error;
  border-width:3px;
}